body{  color: #3d4444;}
body .btn
{
    margin:40px auto;
    line-height: 42px;
    width:100px;
    height:42px;
    position: relative;
    text-align: center;
}
body .btn span
{
    display:block;
    position: absolute;
    transition: 0.3s;
    opacity: 0;
}
body .btn .top
{
    width:100px;
    height: 1px;
    background: brown;
    top:0;
    left:-100px;
}
body .btn .left
{
    width:1px;
    height:40px;
    background: brown;
    top:-40px;
    left:0;

}
body .btn .bottom
{
   width:100px;
    height: 1px;
    background: brown;
    bottom:0;
    left:100px;
}
/*.banner  .cover .bottom
{
    height: 2px;
}*/

body .btn .right
{
    width:1px;
    height:40px;
    background: brown;
    bottom:-40px;
    right:0;
}
body .btn:hover span
{
    opacity:1;
}
body .btn:hover .top
{
    left:0;
    background:darkgray;

}
body .btn:hover .left
{
    top:0;
    background:darkgray ;

}
body .btn:hover .bottom
{
    left:0;
    background:darkgray ;
}
body  .btn:hover .right
{
    bottom:0;
    background: darkgray;
}

body  .btn a
{
    color:#3d4444;
    text-decoration: none;
    font-family: Calibri;
    font-size: 22px;

}

body   a:hover
{
    color:darkgray;
}