*{padding:0;margin:0}
body{font-family: "Microsoft YaHei UI";}
ul{list-style: none}
a{text-decoration: none;}

.index-top
{
    width:100%;
    height:791px;
    position: relative;
}
.head
{
    width:100%;
    height:80px;
    background: rgba(249,237,234,0.8);
    position: fixed;
    z-index:10;
}

/*导航栏*/
.head .nav
{
    width:1200px;
    height:80px;
    margin:0 auto;
    position: relative;
}
.nav .left
{
  position: absolute;
    top:0 ;
    left:6%;
}

.nav .logo
{
    position: absolute;
    left:50%;
    margin-left: -60PX;
}
.nav .right
{
   position: absolute;
    top:0;
    left:58%;
}
.nav .right-login
{
    float: right;
    line-height: 80px;
    text-align: center;
    height:80px;
    width:220px;
}
.nav .head-login
{
    border:1px solid black;
    display:block;
    height:80px;
    width:220px;

}

.nav .right-login .head-exit
{
    display:none;
    height:80px;
    width:220px;
}

/*左边和右边导航栏*/
.nav .nav1 ul li
{
    float:left;
    position: relative;
    display:block;
    width:140px;
    text-align: center;
}
.nav  a
{
    font-size: 16px;
    color:rgb(30,30,30);
    line-height: 80px;
    font-family: Bahnschrift;
}



/*下拉框*/
.nav .down
{
    position: absolute;
    top:80px;
    left:0;
    display: none;
    background: rgba(249,237,234,0.7);
    overflow: hidden;

}

.nav .down li
{
    width:180px;
    display: block;
    border-bottom: 2px solid whitesmoke;
}
.nav .down li a
{
    display: block;
}
.nav .down span
{
    display:block;
    font-family: "Adobe Devanagari";
    color: #2F4056;
    font-size: 18px;
}

.nav .down span:hover
{

}


/*海报*/
.banner
{
    height:791px;
    width: 100%;
    position: relative;
    z-index:9;
}
.banner .pic li
{
    position:absolute;
    top:0;
    left:50%;
    display: none;
    /*如果不用display 最后的图片会显示在第一张*/
    margin-left: -800PX;
    /*缩放时 图片始终在中心 margin-left定义为图像的一半*/
}

.banner .cover
{
    width:600px;
    height:400px;
    position:absolute;
    top:230px;
    left:120px;
    text-align: center;
    color: #3d4444;


}

 .banner .cover h2
{
    padding:50px 0;
    font-size: 32px;
    font-family: "Adobe 宋体 Std L";

}
.banner .cover p
{
    line-height: 1.5em;
     font-size: 18px;
}
/*.banner .cover2 h2
{
    position:relative;
    left:-100%;
    transition: 1s;
}
.in h2
{
    left:0;
}*/


/*小图标切换*/
.banner .num
{
    position:absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;

}

.banner .num li
{
    width:10px;
    height:10px;
    background: rgba(255,255,255,0.8);
    display:inline-block;/*行级块元素*/
    margin:0 5px;
    transform: rotate(45deg);
    cursor: pointer;
    border-radius: 5px;

}
.num li.on
{
    background:#3d1a1b;
}
