*{padding:0;margin:0}
ul{list-style: none}
a{text-decoration: none;}

body
{
    background:rgba(249,237,234,0.5);
    font-family: "Microsoft YaHei UI";
    color: #3d4444;
}
.shop-top{
    height:409px;
    width:100%;
    position: relative;
}
.shop-banner
{
    position:absolute;
    top:0;
    left:50%;
    margin-left: -800PX;
}
.shop-content
{
    width:90%;
    margin:80px auto;
}

.shop-content .shopcon
{
    width:1050px;
/*    height:400px;*/
    padding-bottom: 30px;
    margin:0 auto;


}
.shop-content .shoppro
{
    width:270px;
    height:400px;
    float:left;
    margin-left: 80px;
    position: relative;

}
.shop-content .shoptxt
{
    text-align: center;
    width:250px;
    height:80px;
    line-height: 1.8em;
    color: #3d4444;
    font-size: 16px;
    position: absolute;
    top:240px;
    left:8px;

}
.shop-content  a
{
    color: #3d4444;
}
.shop-content .shoptxt a:hover
{
    text-decoration: underline;
}
.shop-content .shopprice
{
    width:250px;
    height:40px;
    margin:20px auto;
    line-height: 40px;
}
.shop-content .shopprice a
{
   display:inline-block;
    width:110px;
    height:40px;
    border:1px solid saddlebrown;.
    background: #e9eed8;
    border-radius: 5px;
    line-height: 40px;
   float:right;
    text-align: center;
}

.shop-content .shopprice a:hover
{
    background:rgba(224,187,145,0.5);
}