.main
{
    height:2000px;
    width:1100px;
    background-color: #efbfbf;
    margin: 10px auto;
}

.main .nav
{
    width:100px;
    height:450px;
    background: #1c94c4;
}
.main .nav li
{

}
.main .nav a
{
    display:block;
    height:35px;
    width:100px;
    background-color: grey;
    padding: 3px 0;
    font-size: 18px;
    color:#333;
    text-decoration: none;


}
