*{padding:0;margin:0}
.header
{
    background: #eeeeee;
    width:100%;
    height:50px;
    border-top:3px red solid;
}
.header .nav
{
    background: #b9def0;
    width:90%;
    height:28px;
    margin:8px auto;

}

.main
{
    background: rosybrown ;

    width:83%;
    margin:15px auto;
    overflow: hidden;
}
.main .section1
{
    height:680px;
    width: 15%;
    background: #7A7A7A;
    float:left;
}
.main .section2
{
    width:58%;
    height:800px;
    background-color: yellowgreen;
    float:left;
    margin:0px 30px 0 30px;
}
.main .section3
{
    width:22%;
    height:800px;
    background: yellow;
    float:left;

}
