*{padding:0;margin:0}
body{font-family: "Microsoft YaHei UI";}
ul{list-style: none}
a{text-decoration: none;}


.header
{
    height:100px;
    width:100%;
    background: #b9def0;
}
.inner
{
    height:800px;
    width:100%;
    background: url("image/geelyintro.jpg") no-repeat center;
}
.inner .header1
{
    height:180px;
    color:#818688;
    background: #efbfbf;
}
.inner h2
{
    display:block;
    height:60px;
    width:100px;

}