/*海报*/
.banner
{
    height:642px;
    width: 1300px;
    position: relative;
    z-index:9;
    border:1px solid red;
    margin:0 auto;
}
.banner .pic li
{
    position:absolute;
    top:0;
    left:50%;
    display: none;
    /*如果不用display 最后的图片会显示在第一张*/
    margin-left: -650PX;
    /*缩放时 图片始终在中心 margin-left定义为图像的一半*/
}


/*小图标切换*/
.banner .num
{
    position:absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;

}

.banner .num li
{
    width:8px;
    height:8px;
    background: rgba(255,255,255,0.8);
    display:inline-block;/*行级块元素*/
    margin:0 5px;
    transform: rotate(45deg);
    cursor: pointer;
    border-radius: 4px;

}
.num li .on
{
    background: red;

}

.banner .btn
{
    width:80px;
    height:100px;
    background: whitesmoke;
    font-size: 30px;
    position: absolute;
    top:50%;
    margin-top: -50px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    display: none;

}
.banner:hover .btn{
    display: block;
}
.btnleft{
    left:0;
}
.btnright{
    right:0;
}
