*{padding:0;margin:0}
body{font-family: "Microsoft YaHei UI";}
ul{list-style: none}
.header
{
    background:white;
    width:100%;
    height:45px;
    border-top:#fa7d3c 1.5px solid;
    position:fixed;

}
.title
{
    width: 1100px;
    height: 45px;
    margin: 0 auto;

}
.title .logo
{
    float:left;
}
.title .search
{
    width:400px;
    background:#f2f2f5;
    float:left;
    margin:9px 190px 9px 10px;
    height: 24px;
    border:#ccc solid 1px;
}
.title .place
{
    width:375px;
    height:22px;
    margin:1px 8px;
}
.title .place span
{
    font-size: 13px;
    color:#808080;
}

.title  ul
{
    float:right;
}
.title li
{
    float:left;
}
.title li a
{
    color:#333;
    padding:0 12px;
    text-decoration: none;
    font-size: 14px;
    line-height: 45px;
}
.title li a:hover
{
    color:#eb7350;
}

.main
{
    height:2000px;
    width:1000px;
    background-color: #efbfbf;
    margin: 18px auto;

}

.main .nav
{
    float:left;
    width:100px;
    height:420px;
    background-color: #cccccc;
    position: fixed;
}
.main .nav li
{
    padding-bottom:4px ;
}
.main .nav a
{
    display:block;
    width:100px;
    height:35px;
    background-color: white;
    font-size: 18px;
    color:#333;
    text-decoration: none;
    text-align: center;
    line-height: 35px;

}
.main .nav a:hover
{
    background-color: tomato;
}

.banner
{
    float:left;
    width:550px;
    height:2000px;
    background-color: #fa7d3c ;
    margin:0 25px;

}
.banner .image
{

}
.banner .con1
{
    width:550px;
    height:1800px;
    background-color: orange;
    margin-top: 50px;
}


.section
{
    float:left;
    background-color: darkseagreen;
    width:300px;
    height:2000px;

}
.section .register
{
    width:260px;
    height:270px;
    background-color: gainsboro;
    padding:20px;



}
.section  .register .rig1
{
    width:260px;
    height:270px;
    background-color: white;


}
.section .con2
{
    width:300px;
    height:2000px;
    background-color: blanchedalmond;
    margin-top:20px;
}



