.cart_top{
    height:1400px;
    position:relative;

}

.cart_total{
    margin: 80px  auto;

    height:1400px;
    width:100%;
    position: absolute;
}


.order_cart{
    margin: 60px  auto;

    height:1000px;
    width:90%;
    position: relative;
}
.order_cart .er
{
    width:1100px;
    height:50px;
    margin:0 5%;

}

.order_cart .er   li
{
    float:left;
   padding:0 142px;
    line-height: 50px;
    border:1px solid black;
}
.on
{
    background: #F6F6F6;
}

.orderbox
{
    width:1100px;
    height:400px;
    position: absolute;
    margin-left:-550px;
    top:80px;
    left:50%;
    display: none;
}
.box1
{

}
.box1 .cart_box
{

}
.orderbox  button
{
    width:100px;
    height:30px;
    text-align:center;
    border:1px solid saddlebrown;
    font-size: 16px;
    border-radius: 5px;
    float:right;
    margin-top: 40px;
    margin-left: 40px;
    cursor: pointer;
    background: white;
}
.orderbox   button:hover
{
    background: rgba(224,187,145,0.4);
}


.box2
{

    height:800px;
}
.box2 .order_form
{

}


.box3
{

    height:400px;
}
.box3 .msg_tips
{
    width:600px;
    height:200px;
    margin:120px auto;
    text-align: center;
}

